<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>284645086199-keualhqu9hr9139m6s9t249amut93aom.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.284645086199-keualhqu9hr9139m6s9t249amut93aom</string>
	<key>API_KEY</key>
	<string>AIzaSyBL13GRNheLpYkZLUGr8x9Gsqi4gzO-U7Q</string>
	<key>GCM_SENDER_ID</key>
	<string>284645086199</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sukoon.mobile</string>
	<key>PROJECT_ID</key>
	<string>sukoon-ae00e</string>
	<key>STORAGE_BUCKET</key>
	<string>sukoon-ae00e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:284645086199:ios:edd2a126e38204babf54f2</string>
</dict>
</plist>